/* General styles */ 
@font-face {
    font-family: 'wisdom_scriptregular';
    src: url('wisdomscript-regular-webfont.woff2') format('woff2'),
         url('wisdomscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body { 
    font-family: sans-serif;
    font-family: 'wisdom_scriptregular', Arial, sans-serif; 
    line-height: 1.4; 
    color: #fff;
    background: #333;
    margin-right: 10%;
    margin-left: 10%;
}
a {
    text-decoration: none; 
}
p {
    margin: 0.75rem 0; 
}

/* Utility classes */ 
.container {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.container-padding {
    padding-left: 40%;
    padding-right: 10%;  
}
.logo-text {
    color: #FDCF33;
}
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem; 
    line-height: 1.1;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.lead { 
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 2rem;
    font-family: 'Libre Baskerville', serif;

}
.btn {
    display: inline-block; 
    color:  #fff; 
    background: #FDCF33;
    padding: 0.5rem 2rem; 
    border: none;
    border-radius: 5px; 
}
.btn:hover {
    background: #FFE94D;
}
.btn-dark {
    background: #333; 
    color: #fff; 
}
/* Navbar */
#navbar {
    display: flex;  
    color: #fff;
    position: sticky; 
    justify-content: space-between; 
    z-index: 2000;  
    padding: 1rem;
}
#navbar ul {
    display: flex; 
    align-items: center;
    list-style: none; 
}
#navbar ul li a {
    color: #fff; 
    padding: .75rem;
    margin: 0 .25rem; 
}
#navbar ul li a:hover {
    background: #FDCF33;
    border-radius: 5px; 
}
/* Hero */ 
#hero {
    background: #333 url('https://images.pexels.com/photos/374811/pexels-photo-374811.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center center/cover; 
    height: 100vh;
    width: 100%;
    top: 0; 
    margin-top: -84px;
}
#hero .hero-content {
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    padding: 0 2rem;
    /* Overlay */
    position:  absolute; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1900;
}
 